<mat-table [dataSource]="assignments" *ngIf="schedule" class="mat-elevation-z8">
  <!-- define una columna para mostrar el rango de tiempo del periodo -->
  <ng-container matColumnDef="time_range">
    <!-- celda de encabezado de la columna del periodo -->
    <mat-header-cell *matHeaderCellDef> Periodo / Salon </mat-header-cell>
    <!-- por cada una de las ocurrencias en el dataSource vamos creando la columa solo con el  -->
    <mat-cell *matCellDef="let assignment">
      {{ assignment.time_range }}
    </mat-cell>
  </ng-container>

  <!-- por cada salon en el schedule vamos creando su columna  -->
  <ng-container
    *ngFor="let classroom of schedule.classrooms; let i = index"
    [matColumnDef]="'classroom' + i"
  >
    <!-- COMO PRIMERA celda siempre colocamos el nombre del salon -->
    <mat-header-cell *matHeaderCellDef>
      {{ classroom.name }}
    </mat-header-cell>

    <!-- celda de contenido que muestra la asignacion correspondiente -->
    <mat-cell *matCellDef="let row">
      <!-- obtiene la asignacion correspondiente al salon en esta fila -->
      <ng-container *ngIf="row.assignments[i] as assignment">
        <!-- si la celda no esta vacia muestra el curso y el profesor -->
        <div *ngIf="!assignment.is_empty; else emptyCell">
          <p class="font-bold">
            {{ assignment.course?.name }} -
            <span>{{ assignment.course?.code }}</span>
          </p>
          <small>
            {{ assignment.course.career }} -
            {{ assignment.course.semester }}
          </small>
          <br />
          <small>
            {{ assignment.professor_name }} -
            {{ assignment.professor_dpi }}
          </small>
        </div>
        <!-- si no hay asignacion muestra un guion -->
        <ng-template #emptyCell>
          <em>-</em>
        </ng-template>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- define la fila de encabezado con las columnas que se mostraran -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <!-- define cada fila del cuerpo de la tabla con las mismas columnas -->
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
